@media screen and (min-width: 768px) {
  .hide-pc {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hide-sp {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .hide-xl {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .show-xl {
    display: none;
  }
}

@media screen and (max-width: 374px) {
  .hide-xs {
    display: none;
  }
}

@media screen and (min-width: 375px) {
  .show-xs {
    display: none;
  }
}

html {
  box-sizing: border-box;
  font-size: 100%;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  -webkit-font-feature-settings: "palt";
  background: #fff;
  color: #171717;
  font-family: "Noto Serif", "Noto Serif JP", serif;
  font-feature-settings: "palt";
  font-size: 16px;
  font-weight: normal;
  height: 100%;
  letter-spacing: 0.05em;
  word-break: break-all;
}

p {
  line-height: 1.875;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

a {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
strong {
  font-weight: normal;
  line-height: 1.875;
}

dl,
table {
  line-height: 1.875;
}

a,
input,
textarea,
select,
button,
label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.floating {
  bottom: 16px;
  display: none;
  position: fixed;
  right: 16px;
  z-index: 1;
}

.floating__link {
  background: #171717;
  color: #fff;
  display: block;
  opacity: 0.8;
  padding: 16px;
  text-decoration: none;
  z-index: 30;
}

.floating__link:hover {
  opacity: 1;
}

.footer {
  background: #fff;
  color: #282f35;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  z-index: 10;
}

@media screen and (max-width: 767px) {
  .footer {
    font-size: 12px;
    height: 78px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    font-size: 14px;
    height: 78px;
  }
}

.footer__inner {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .footer__inner {
    max-width: calc(1200px + 15px * 2);
    padding: 0 15px;
  }
}

@media screen and (min-width: 768px) {
  .footer__inner {
    max-width: calc(1200px + 32px * 2);
    padding: 0 32px;
  }
}

.footer small {
  font-size: 14px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  body.is-drawer-active {
    overflow: hidden;
  }
}

.brand {
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .brand {
    font-size: 26px;
  }
}

@media screen and (min-width: 768px) {
  .brand {
    font-size: 26px;
  }
}

.brand__img {
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  .brand__img {
    height: 42px;
    width: 42px;
  }
}

@media screen and (min-width: 768px) {
  .brand__img {
    height: 56px;
    width: 56px;
  }
}

.header {
  background: transparent;
  color: #fff;
  font-style: italic;
  font-weight: bold;
  position: fixed;
  width: 100%;
  z-index: 20;
}

@media screen and (max-width: 767px) {
  .header, .header__spacer {
    height: 72px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
  }
  .header, .header__spacer {
    height: 72px;
  }
}

.header__inner {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .header__inner {
    max-width: calc(1200px + 15px * 2);
    padding: 0 15px;
  }
}

@media screen and (min-width: 768px) {
  .header__inner {
    max-width: calc(1200px + 32px * 2);
    padding: 0 32px;
  }
}

.nav {
  z-index: 1;
}

.nav__inner {
  z-index: 40;
}

@media screen and (max-width: 767px) {
  .nav__inner {
    align-items: center;
    background: rgba(40, 47, 53, 0.95);
    display: none;
    flex-direction: column;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
  }
}

@media screen and (min-width: 768px) {
  .nav__inner {
    display: flex;
  }
}

.nav__item {
  z-index: 41;
}

@media screen and (max-width: 767px) {
  .nav__item {
    font-size: 16px;
    margin: 4px 0;
    padding: 8px 0;
  }
}

@media screen and (min-width: 768px) {
  .nav__item {
    font-size: 16px;
    line-height: 72px;
    margin: 0 0 0 30px;
  }
}

.nav__link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  transition: 0.3s;
}

@media screen and (max-width: 767px) {
  .nav__link {
    padding: 8px 0;
  }
}

@media screen and (min-width: 768px) {
  .nav__link {
    line-height: 72px;
    padding: 0 0;
  }
}

.nav__link::after {
  -webkit-transform: translateX(-50%);
  background-color: #fff;
  bottom: 0;
  content: "";
  height: 3px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transition: .2s;
  width: 0;
}

.nav__link:hover::after {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .nav--slide .nav__inner {
    -webkit-transform: translateX(100%);
    display: flex;
    transform: translateX(100%);
    transition: .4s;
  }
  .nav--slide .nav__inner.is-drawer-active {
    -webkit-transform: translateX(0);
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    transform: translateX(0);
  }
  .nav--fade .nav__inner {
    display: flex;
    opacity: 0;
    transition: .4s;
    visibility: hidden;
  }
  .nav--fade .nav__inner.is-drawer-active {
    -webkit-overflow-scrolling: touch;
    opacity: 1;
    overflow-y: auto;
    visibility: visible;
  }
}

.nav__toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  cursor: pointer;
  height: 56px;
  outline: none;
  text-decoration: none;
  transition: .4s;
  width: 56px;
  z-index: 42;
}

@media screen and (max-width: 767px) {
  .nav__toggle {
    display: block;
    position: absolute;
    right: 15px;
    top: 8px;
  }
}

@media screen and (min-width: 768px) {
  .nav__toggle {
    display: none;
  }
}

.nav__line {
  background: #fff;
  bottom: 0;
  height: 3px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  transition: inherit;
  width: 24px;
}

.nav__line::before, .nav__line::after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: inherit;
  width: 100%;
}

.nav__line::before {
  top: -8px;
}

.nav__line::after {
  top: 8px;
}

.nav__line .visually-hidden {
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(50%);
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.nav__toggle[aria-expanded="true"] .nav__line {
  -webkit-transform: rotate(180deg);
  background: transparent;
  transform: rotate(180deg);
}

.nav__toggle[aria-expanded="true"] .nav__line::before {
  -webkit-transform: rotate(45deg);
  top: 0;
  transform: rotate(45deg);
}

.nav__toggle[aria-expanded="true"] .nav__line::after {
  -webkit-transform: rotate(-45deg);
  top: 0;
  transform: rotate(-45deg);
}

.mv {
  color: #fff;
  max-width: 2000px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .mv {
    height: 599px;
  }
  .mv .slide-img {
    -o-object-fit: cover;
    object-fit: cover;
  }
}

@media screen and (min-width: 768px) {
  .mv {
    height: auto;
  }
}

.mv--contact {
  background: #ccc url(../img/contact-page-bgi@2x.jpg) no-repeat center/cover;
}

@media screen and (max-width: 767px) {
  .mv--contact {
    height: 360px;
  }
}

@media screen and (min-width: 768px) {
  .mv--contact {
    height: 453px;
  }
}

.mv__item {
  overflow: hidden;
  position: relative;
}

.mv__item img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .mv__item img {
    height: 599px;
  }
}

.swiper-container-mv {
  position: relative;
}

@media screen and (max-width: 767px) {
  .swiper-container-mv {
    text-align: center;
  }
}

.mv__copy {
  position: absolute;
  z-index: 5;
}

@media screen and (max-width: 767px) {
  .mv__copy {
    -webkit-transform: translateX(-50%);
    left: 50%;
    min-width: 80%;
    top: 200px;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 768px) {
  .mv__copy {
    left: 120px;
    top: 28vw;
  }
}

.mv__contact-copy {
  -webkit-transform: translateX(-50%);
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  z-index: 5;
}

@media screen and (max-width: 767px) {
  .mv__contact-copy {
    top: 175px;
  }
}

@media screen and (min-width: 768px) {
  .mv__contact-copy {
    top: 186px;
  }
}

.sec {
  width: 100%;
}

.sec--works .sec__title, .sec--contact .sec__title {
  color: #fff;
}

.sec--works {
  background: transparent url(../img/works-bgi@2x.jpg) no-repeat center center/cover;
  background-attachment: fixed;
}

.sec--contact {
  background: transparent url(../img/contact-bgi@2x.jpg) no-repeat center center/cover;
  background-attachment: fixed;
}

@media screen and (max-width: 767px) {
  .sec {
    padding: 100px 0 40px;
  }
  .sec--service {
    padding-bottom: 64px;
  }
}

@media screen and (min-width: 768px) {
  .sec {
    padding: 100px 0 70px;
  }
  .sec--concept {
    padding-top: 117px;
  }
  .sec--works {
    padding-top: 104px;
  }
}

.sec__inner {
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .sec__inner {
    max-width: calc(576px + 15px * 2);
    padding: 0 15px;
  }
}

@media screen and (min-width: 768px) {
  .sec__inner {
    max-width: calc(1000px + 32px * 2);
    padding: 0 32px;
  }
}

.sec--form {
  padding-bottom: 80px;
  padding-top: 97px;
}

.sec--form .sec__inner {
  max-width: calc(700px + 15px * 2);
  padding: 0 15px;
}

.btn {
  -webkit-appearance: none;
  background: #f7d43f;
  border: solid 2px transparent;
  border-radius: 235px;
  box-shadow: 0 0 6px 0 #1b1310;
  color: #1b1310;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: inherit;
  margin-bottom: 0.2em;
  max-width: 235px;
  padding: 18px 8px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  width: 100%;
}

.btn:focus, .btn:hover {
  cursor: pointer;
  opacity: 0.8;
  outline: none;
}

.btn--ghost {
  background: none;
  border-color: currentColor;
}

.btn--ghost:focus, .btn--ghost:hover {
  background: none;
  color: #1b1310;
  opacity: 0.8;
}

.btn--more {
  margin-top: 80px;
}

.btn--submit {
  margin-top: 80px;
}

@media screen and (min-width: 320px) {
  .h-btns {
    display: flex;
    margin-bottom: 0.2em;
  }
  .h-btns > *:last-child {
    margin-right: 0;
  }
  .h-btns__item {
    flex: 1 1 0%;
    justify-content: flex-start;
    margin-right: 0.6em;
    max-width: 235px;
  }
}

.h-btns__btn {
  align-items: center;
  display: inline-flex;
  height: 100%;
  justify-content: center;
}

@media screen and (max-width: 319px) {
  .h-btns__btn {
    max-width: 320px;
  }
}

.card {
  background: #fff;
  border-radius: 0;
  box-shadow: 0 0 6px 0 #000;
}

.card__pic {
  border-radius: 0 0 0 0;
  overflow: hidden;
  padding-top: 62.5%;
  position: relative;
}

.card__img {
  -o-object-fit: cover;
  -webkit-transform: translateY(-50%);
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.card__body {
  display: flex;
  flex-direction: column;
  padding: 25px 20px;
}

.card__body > *:last-child {
  margin-bottom: 0;
}

.card__title {
  color: #171717;
  font-weight: bold;
  margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
  .card__title {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .card__title {
    font-size: 18px;
  }
}

.card__desc {
  color: #171717;
  line-height: 1.88;
}

@media screen and (max-width: 767px) {
  .card__desc {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .card__desc {
    font-size: 16px;
  }
}

.card--link {
  display: block;
  text-decoration: none;
  transition: 0.3s;
}

.card--link:hover, .card--link:focus {
  -webkit-transform: translateY(-4px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  outline: none;
  transform: translateY(-4px);
}

.cards--col2, .cards--col3, .cards--col4 {
  margin-bottom: -30px;
}

.cards--col2 > .cards__item, .cards--col3 > .cards__item, .cards--col4 > .cards__item {
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .cards {
    margin: 0 12px;
  }
}

@media screen and (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }
  .cards--col2 {
    margin-bottom: -20px;
  }
  .cards--col2 > .cards__item {
    margin-bottom: 20px;
    margin-right: 20px;
    width: calc((100% - 20px * 1) / 2);
  }
  .cards--col2 > .cards__item:nth-of-type(2n) {
    margin-right: 0;
  }
  .cards--col3 {
    margin-bottom: -20px;
  }
  .cards--col3 > .cards__item {
    margin-bottom: 20px;
    margin-right: 20px;
    width: calc((100% - 20px * 2) / 3);
  }
  .cards--col3 > .cards__item:nth-of-type(3n) {
    margin-right: 0;
  }
  .cards--col4 {
    margin-bottom: -20px;
  }
  .cards--col4 > .cards__item {
    margin-bottom: 20px;
    margin-right: 20px;
    width: calc((100% - 20px * 3) / 4);
  }
  .cards--col4 > .cards__item:nth-of-type(4n) {
    margin-right: 0;
  }
}

.mv__title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.6;
}

@media screen and (min-width: 768px) {
  .mv__title {
    font-size: calc(7.87037vw + -24.44444px);
  }
}

@media screen and (min-width: 1200px) {
  .mv__title {
    font-size: 70px;
  }
}

@media screen and (max-width: 767px) {
  .mv__title {
    margin-bottom: 33px;
  }
}

@media screen and (min-width: 768px) {
  .mv__title {
    margin-bottom: 23px;
  }
}

.mv__contact-title {
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .mv__contact-title {
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) {
  .mv__contact-title {
    font-size: 60px;
  }
}

.sec__title {
  align-items: center;
  color: #171717;
  display: flex;
  font-style: italic;
  font-weight: bold;
  justify-content: flex-start;
  margin-bottom: 48px;
}

.sec__title::after {
  background-color: #fff;
  content: '';
  height: 5px;
  margin-left: 30px;
  width: 90px;
}

@media screen and (min-width: 768px) {
  .sec__title::after {
    margin-left: 40px;
    width: 200px;
  }
}

@media screen and (max-width: 767px) {
  .sec__title {
    font-size: 30px;
    line-height: 1.6;
    margin-bottom: 80px;
  }
  .sec--concept .sec__title {
    line-height: 0.4;
    margin-bottom: 51px;
  }
  .sec--works .sec__title {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .sec__title {
    font-size: 60px;
    line-height: 0.8;
    margin-bottom: 80px;
    margin-bottom: 70px;
  }
  .sec--concept .sec__title {
    line-height: 0.4;
  }
}

.sec--concept .sec__title::after,
.sec--service .sec__title::after {
  background-color: #282f35;
}

.sec--works .sec__title,
.sec--contact .sec__title {
  justify-content: flex-end;
}

.media {
  display: flex;
}

@media screen and (max-width: 767px) {
  .media {
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 768px) {
  .media {
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .media__pic {
    flex: 0 1 calc(50% - 120px / 2);
    margin-bottom: 0;
    margin-right: 120px;
    max-width: calc(50% - 120px / 2);
  }
}

.media__img {
  width: 100%;
}

.media__body {
  flex: 1;
}

@media screen and (max-width: 767px) {
  .media__body {
    margin-bottom: 30px;
  }
}

.media__body > *:last-child {
  margin-bottom: 0;
}

.media__title {
  color: #171717;
  font-weight: bold;
  margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
  .media__title {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .media__title {
    font-size: 18px;
  }
}

.media__desc {
  color: #171717;
  font-weight: bold;
  line-height: 1.88;
}

@media screen and (max-width: 767px) {
  .media__desc {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .media__desc {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .media--rev {
    flex-direction: row-reverse;
  }
  .media--rev .media__pic {
    margin-right: 0;
  }
  .media--rev .media__body {
    margin-right: 120px;
  }
}

@media screen and (min-width: 768px) {
  .half-media {
    align-items: center;
    display: flex;
  }
}

.half-media__pic {
  margin-bottom: 120px;
}

@media screen and (min-width: 768px) {
  .half-media__pic {
    flex: 0 1 calc(50% - 120px / 2);
    margin-bottom: 0;
    margin-right: 120px;
    max-width: calc(50% - 120px / 2);
  }
}

.half-media__img {
  width: 100%;
}

.half-media__body {
  flex: 1;
}

.half-media__body > *:last-child {
  margin-bottom: 0;
}

.half-media__title {
  color: #171717;
  font-weight: bold;
  margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
  .half-media__title {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .half-media__title {
    font-size: 18px;
  }
}

.half-media__desc {
  color: #171717;
}

@media screen and (max-width: 767px) {
  .half-media__desc {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .half-media__desc {
    font-size: 16px;
  }
}

.caution-text {
  color: crimson;
}

.note-text {
  font-size: 12px;
}

.clearly-text {
  text-shadow: #171717 1px 1px 10px, #171717 -1px 1px 10px, #171717 1px -1px 10px, #171717 -1px -1px 10px;
}

.mv-text {
  font-size: 20px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .mv-text {
    font-size: calc(4.62963vw + -15.55556px);
  }
}

@media screen and (min-width: 1200px) {
  .mv-text {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .mv-text {
    font-size: 30px;
    line-height: 1.67;
  }
}

@media screen and (min-width: 768px) {
  .mv-text {
    line-height: 1.25;
  }
}

.concept-text {
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .concept-text {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 31px;
  }
}

@media screen and (min-width: 768px) {
  .concept-text {
    font-size: 30px;
    line-height: 1.66667;
    margin-bottom: 60px;
  }
}

.hilight-text {
  color: rgba(255, 255, 255, 0.05);
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .hilight-text {
    font-size: 40px;
    margin-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .hilight-text {
    font-size: 90px;
    line-height: 1.67;
    margin-top: 70px;
  }
}

.sec--concept .hilight-text,
.sec--service .hilight-text {
  color: rgba(23, 23, 23, 0.05);
  text-align: right;
}

.contact-text {
  color: #fff;
  font-size: 20px;
  line-height: 1.35;
  margin-bottom: 40px;
}

.service-list {
  color: #fff;
  display: flex;
  font-style: italic;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .service-list {
    flex-direction: column;
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .service-list {
    font-size: 40px;
  }
}

.service-list li {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: center;
}

.service-list li:nth-of-type(1) {
  background-image: url(../img/service-img01@2x.jpg);
}

@media screen and (max-width: 767px) {
  .service-list li:nth-of-type(1) {
    margin-bottom: 30px;
  }
}

.service-list li:nth-of-type(2) {
  background-image: url(../img/service-img02@2x.jpg);
}

@media screen and (max-width: 767px) {
  .service-list li:nth-of-type(2) {
    margin-bottom: 30px;
  }
}

.service-list li:nth-of-type(3) {
  background-image: url(../img/service-img03@2x.jpg);
}

.service-list li a {
  display: block;
  text-decoration: none;
  transition: .3s;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .service-list li a {
    line-height: 250px;
  }
}

@media screen and (min-width: 768px) {
  .service-list li a {
    line-height: 320px;
  }
}

.service-list li a:hover, .service-list li a:focus {
  background-color: rgba(40, 47, 53, 0.7);
}

.center-box {
  text-align: center;
}

.flued-box {
  margin: 0 calc(50% - 50vw + 8px);
}
/*# sourceMappingURL=sourcemaps/style.css.map */
