.form {
  background: transparent;
  font-size: 100%;
  margin: 0 auto;
  padding: 10px 0;
  width: auto;
}

.form dl {
  color: #171717;
  margin: 0 auto;
  overflow: visible;
  width: 100%;
}

.form dl dt {
  clear: both;
  font-weight: bold;
  overflow: hidden;
  padding: 15px 0 0;
  text-align: left;
  width: auto;
}

.form dl dt:first-child,
.form dl dt:first-child + dd {
  border: none;
}

.form dl dt span {
  color: #37f;
  display: block;
  font-size: 85%;
  font-weight: normal;
}

.form dl dd {
  padding: 0 0 20px;
  width: auto;
}

.form dl dt span.required, .form dl dt span.optional {
  border-radius: 3px;
  color: #fff;
  display: block;
  float: left;
  padding: 4px 10px;
}

@media screen and (max-width: 767px) {
  .form dl dt span.required, .form dl dt span.optional {
    margin-bottom: 2em;
    margin-right: 1em;
  }
}

.form dl dt span.required {
  background: #d9534f;
  border: 1px solid #d9534f;
}

.form dl dt span.optional {
  background: #78909c;
  border: 1px solid #78909c;
}

.form dl dd span.error_blank, .form dl dd span.error_format, .form dl dd span.error_match {
  color: #f00;
  display: block;
  margin-top: 3px;
}

span.loading {
  -webkit-transform: translateZ(0);
  -webkit-animation: load-circle 1s linear infinite;
  animation: load-circle 1s linear infinite;
  border-bottom: 5px solid rgba(255, 255, 255, 0.2);
  border-left: 5px solid #fff;
  border-radius: 50%;
  border-right: 5px solid rgba(255, 255, 255, 0.2);
  border-top: 5px solid rgba(255, 255, 255, 0.2);
  height: 50px;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
  position: absolute;
  top: 50%;
  transform: translateZ(0);
  width: 50px;
}

@-webkit-keyframes load-circle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load-circle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.form input[type="text"],
.form input[type="email"],
.form input[type="tel"] {
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #141414;
  border-radius: 0;
  font-family: inherit;
  max-width: 100%;
  padding: 7px 2%;
}

@media screen and (max-width: 767px) {
  .form input[type="text"],
  .form input[type="email"],
  .form input[type="tel"] {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .form input[type="text"],
  .form input[type="email"],
  .form input[type="tel"] {
    font-size: 100%;
    margin-top: 7px;
  }
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form input[type="tel"]:focus,
.form textarea:focus,
.form select:focus {
  background: #fff;
  border: 1px solid #5cf;
  box-shadow: 0 0 5px 0 #5cf;
  outline: none;
}

.form input[type="button"]:focus,
.form input[type="submit"]:focus,
.form button:focus,
.form a {
  outline: none;
}

@media screen and (min-width: 768px) {
  .form ul li {
    display: inline;
  }
}

.form ul li input[type="radio"],
.form ul li input[type="checkbox"] {
  margin-right: 10px;
  margin-top: 10px;
}

.form ul li input[type="radio"]:focus + label::before,
.form ul li input[type="checkbox"]:focus + label::before {
  border: 1px solid #5cf;
  box-shadow: 0 0 5px 0 #5cf;
}

.form ul li:first-child input[type="radio"],
.form ul li:first-child input[type="checkbox"] {
  margin-top: 0;
}

.form input[type="radio"],
.form input[type="checkbox"] {
  -moz-opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
}

.form input[type="radio"] + label,
.form input[type="checkbox"] + label {
  display: inline-block;
  margin: 0 .2em 0;
  padding: 0 0 0 1.8em;
  position: relative;
}

.form input[type="radio"] + label::before {
  -webkit-transform: translateY(-50%);
  background: #fafafa;
  border: 1px solid #999;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 1em;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1em;
}

.form input[type="radio"]:checked + label::after {
  -webkit-transform: translateY(-50%);
  background: #777;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: .6em;
  left: .2em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: .6em;
}

.form input[type="checkbox"] + label::before {
  -webkit-transform: translateY(-50%);
  background: transparent;
  border: 1px solid #141414;
  border-radius: 0;
  content: "";
  display: block;
  height: 1em;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1em;
}

.form input[type="checkbox"] + label::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  border-bottom: 3px solid #777;
  border-left: 3px solid #777;
  content: "";
  display: block;
  height: .6em;
  left: 0;
  margin-top: -.2em;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  width: 1em;
}

.form input[type="checkbox"]:checked + label::after {
  opacity: 1;
}

.form select {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fafafa;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: inherit;
  font-family: inherit;
  height: 40px;
  padding: 7px 2%;
  text-indent: .01px;
  text-overflow: '';
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .form select {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .form select {
    font-size: 100%;
    margin-top: 10px;
  }
}

.form select::-ms-expand {
  display: none;
}

.form select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #828c9a;
}

.form select option {
  background: #fff;
  color: #333;
}

.form .select-wrap {
  position: relative;
}

.form .select-wrap:before {
  -webkit-transform: rotate(135deg);
  border-right: solid 2px #7F878C;
  border-top: solid 2px #7F878C;
  content: "";
  display: block;
  height: 8px;
  pointer-events: none;
  position: absolute;
  right: 13%;
  transform: rotate(135deg);
  width: 8px;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .form .select-wrap:before {
    top: 16px;
  }
}

@media screen and (min-width: 768px) {
  .form .select-wrap:before {
    top: 50%;
  }
}

.form textarea {
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #141414;
  border-radius: 0;
  display: block;
  font-family: inherit;
  height: 200px;
  padding: 7px 2%;
  resize: vertical;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .form textarea {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .form textarea {
    font-size: 100%;
  }
}

.form textarea::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

.form textarea::-webkit-scrollbar-track {
  background: #fff;
}

.form textarea::-webkit-scrollbar-thumb {
  background: #ccc;
}

.form ul {
  list-style-type: none;
}

.form ul li label:hover {
  cursor: pointer;
}

.form__company {
  width: 100%;
}

.form__name_1, .form__name_2, .form__read_1, .form__read_2 {
  width: 100%;
}

.form__mail_address, .form__mail_address_confirm {
  width: 100%;
}

.form__postal {
  width: 35%;
}

.form__address {
  width: 100%;
}

.form__phone {
  width: 100%;
}

.form__schedule {
  width: 35%;
}

@media screen and (max-width: 767px) {
  .form__schedule {
    width: 60%;
  }
}

.form__postal + a {
  background: #5bc0de;
  border: 1px solid #46b8da;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 100%;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .form__postal + a {
    padding: 6px 15px 5px;
  }
}

@media screen and (min-width: 768px) {
  .form__postal + a {
    padding: 5px 15px 5px;
  }
}

.form__postal + a:hover, .form__postal + a:focus {
  background: #31b0d5;
  border: 1px solid #269abc;
  cursor: pointer;
}

.form__submit {
  border-top: 1px solid #ccc;
  margin: 0 auto;
  padding: 15px 0;
  width: 100%;
}

.form__submit-btn {
  -webkit-appearance: none;
  background: #5cb85c;
  border: 1px solid #4cae4c;
  border-radius: 3px;
  color: #fff;
  font-family: inherit;
  font-size: 100%;
  padding: 7px 20px;
}

@media screen and (min-width: 768px) {
  .form__submit-btn {
    margin-left: 35%;
  }
}

.form__submit-btn:hover, .form__submit-btn:focus {
  background: #449d44;
  border: 1px solid #398439;
  cursor: pointer;
}
/*# sourceMappingURL=sourcemaps/mailform.css.map */
